*,*:before,
*:after{
    box-sizing:border-box;
    margin: 30px;
}

body{
    margin: 30px;
    min-height: 100vh;
    padding: 1.5re;
    background-image: url(images/login_banner.png);
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#datepicker{
    max-width: 500px;
     height: 500px;
     width: 100%;
}