#search-form{
    position: fixed;
    top: 0; left: 0;
    height: 100%; width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    border: 0px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.restro{
    border: 2px solid red;
    height: 300px;
    width: 250px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    
}